<section class="contact" id="contact">
  <h2 class="heading">CONTACT</h2>
  <div *ngIf="!sendSuccess; else contactDone">
    <p>ブログおよびkuzugrに関するお問い合わせページです</p>
    <p>ご意見はこちらのフォームへお願いいたします。</p>
    <p>お問い合わせ内容を確認後、こちらからご連絡させていただく場合があります。</p>
    <form class="contact-form" [formGroup]="form" (ngSubmit)="onSubmit()">
      <input type="text"  formControlName="name" required placeholder="NAME">
      <input type="email" formControlName="email" required placeholder="EMAIL">
      <textarea formControlName="content" required placeholder="MESSAGE"></textarea>
      <input type="submit" value="SEND">
    </form>
  </div>
  <ng-template #contactDone>
    <div class='contact-main'>
      <h3>お問い合わせありがとうございました。</h3>
      <p>お問い合わせ内容を確認後、こちらからご連絡させていただく場合があります。</p>
    </div>
  </ng-template>
</section>
