.contact {
  padding: 50px 0 150px;
  width: 80%;
  margin: auto;
}

.contact-form {
  width: 60%;
  margin: 50px auto 0;
}

.contact-form input[type='text'],
.contact-form input[type='email'],
.contact-form textarea {
  width: 100%;
  margin-bottom: 10px;
  padding: 15px;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 0;
  background-color: rgba(255, 255, 255, 0.05);
  color: #fff;
}

.contact-form input[type='text'],
.contact-form input[type='email'] {
  width: 49%;
}

.contact-form input[type='text'] {
  margin-right: 2%;
}

.contact-form textarea {
  display: block;
}

.contact-form input[type='text']:focus,
.contact-form textarea:focus {
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.5) inset;
}

.contact-form textarea {
  height: 150px;
}

.contact-form input[type='submit'] {
  display: block;
  width: 200px;
  margin: 40px auto 0;
  padding: 15px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 5px;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
}

.contact-form input[type='submit']:hover {
  background-color: rgba(255, 255, 255, 0.05);
}

.contact-form input[type='submit'].disabled {
  cursor: not-allowed;
  background-color: rgba(255, 255, 255, 0.05);
}

.form-errors {
  display: inline;
}

@media (max-width: 768px) {
  .contact-form {
    width: 100%;
  }

  .contact {
    padding-bottom: 80px;
  }
}
