<section class="blogs" id='blogs'>
  <h2 class="heading">BLOGS</h2>
  <div class="blogs-wrapper">
    <ng-container *ngFor="let article of articles">
      <div class="blog-box coding">
        <img class="blog-image" src="{{article.thumbnail_url}}" onerror="this.src='../../../assets/images/coding.jpg'" alt="制作事例1">
        <div class="blog-description">
          <div class="blog-description-inner">
            <p class="blog-text">
              {{article.description}}<br>
              <a href="ariticle/{{article.id}}" class="button button-ghost">READ ME</a>
            </p>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</section>
