.blogs {
  background-attachment: #383634;
  padding: 80px 0;
}

.blogs-wrapper {
  display: table;
  width: 100%;
  margin-top: 60px;
  table-layout: fixed;
}

.blog-box {
  position: relative;
  display: table-cell;
  max-height: 216px;
}

.blog-box::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  max-width: 360px;
  height: 50%;
  max-height: 216px;
  background: no-repeat;
  background-size: 100% 100%;
  opacity: 0.2;
  transform: scaleY(-1);
}

.blog-box.coding::after {
  background-image: url('assets/images/coding.jpg');
}

.blog-box:nth-child(odd) .blog-image {
  margin: 60% 0 0;
}

.blog-box:nth-child(odd) .blog-description,
.blog-box:nth-child(odd)::after {
  top: 0;
}

.blog-image {
  display: block;
  width: 100%;
  max-width: 360px;
  max-height: 216px;
  margin: 0 0 60%;
}

.blog-description {
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1;
  width: 100%;
  max-width: 360px;
  max-height: 216px;
  height: 50%;
  overflow-y: auto;
}

.blog-description-inner {
  display: table;
  width: 100%;
  height: 100%;
  padding: 20px;
}

.blog-text {
  display: table-cell;
  vertical-align: middle;
  font-size: 1.2rem;
  line-height: 2;
}

.blog-text .button {
  width: 60%;
  margin-top: 20px;
  padding: 3px;
}

@media (max-width: 768px) {
  .blogs-wrapper,
  .blog-box {
    display: block;
  }

  .blog-image {
    display: none;
  }

  .blog-description {
    position: relative;
  }

  .blog-box::after {
    top: 0;
    height: 100%;
    background-size: cover;
    transform: none;
  }
}
