<section class="blogs" id='blogs'>
  <h2 class="heading">BLOGS</h2>
  <h4 class='blogs-message'>最新の記事はこちら</h4>
  <div class="ad sp-top-ad">
    <div id="imobile_ad_native_51735920200303160713"></div>
  </div>
  <div class="ads">
    <div class="ad">
      <div id="imobile_ad_native_51735820200303160250"></div>
    </div>
    <div class="ad">
      <div id="imobile_ad_native_51735820200303160611"></div>
    </div>
    <div class="ad">
      <div id="imobile_ad_native_51735820200304112111"></div>
    </div>
    <div class="ad">
      <div id="imobile_ad_native_51735820200304112123"></div>
    </div>
  </div>
  <app-article-card [articles]="this.articles" *ngIf="articleLoaded">
  </app-article-card>
  <div class="ad">
    <div id="imobile_ad_native_51735920200303160730"></div>
  </div>
  <div class="margin-bottom"></div>
</section>
