<section class="search" id='search'>
  <h2 class="heading">SEARCH</h2>
  <div class="search-items">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <input type="text" formControlName='keyword' class="search-text" placeholder="Keyword">
    </form>
    <div class="buttons" *ngIf="categoryLoaded">
      <ng-container *ngFor="let category of categories">
        <a class="button" href="{{'/search?category_id=' + category.id  + '#search-result'}}">
          {{category.name}}
        </a>
      </ng-container>
      <a class="button button-showy" href="{{'/search?category_id=all#search-result'}}">
        記事一覧
      </a>
    </div>
  </div>
</section>
