<section class="search" id='search'>
  <h2 class="heading">SEARCH</h2>
  <div class="search-items">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <input type="text" formControlName='keyword' class="search-text" placeholder="Keyword">
    </form>
    <div class="buttons" *ngIf="categoryLoaded">
      <ng-container *ngFor="let category of categories">
        <a class="button" [routerLink]="['/search']" [queryParams]="{ category_id: category.id }" fragment='search-result'>
          {{category.name}}
        </a>
      </ng-container>
      <a class="button button-showy" [routerLink]="['/search']" [queryParams]="{ category_id: 'all' }" fragment='search-result'>
        記事一覧
      </a>
    </div>
  </div>
</section>
