<header class="header">
  <div class="buttons">
    <a class="button" [routerLink]="['/']" fragment="profile">PROFILE</a>
    <a class="button button-showy" [routerLink]="['/']" fragment="blogs">BLOGS</a>
    <a class="button"[routerLink]="['/']" fragment="search">SEARCH</a>
    <a class="button button-showy" [routerLink]="['/']" fragment="contact">CONTACT</a>
    <a class="button" [routerLink]="['/privacy-policy']">PRIVACY POLICY</a>
    <a class="button button-showy" [routerLink]="['/article/create']" *ngIf="loginState">CREATE</a>
  </div>
</header>