.header {
  padding: 120px 30px 80px;
}

.site-title-sub {
  margin: 0 0 30px;
  letter-spacing: 1px;
  font-size: 2.2rem;
}

.site-title-sub::before,
.site-title-sub::after {
  content: '';
  display: inline-block;
  width: 140px;
  height: 2px;
  margin: 0 30px;
  background-color: #fff;
  vertical-align: middle;
}

.site-title {
  margin: 50px 0 40px;
  font-size: 5rem;
}

.site-description {
  margin-bottom: 50px;
  color: #888;
  font-size: 1.6rem;
}

.contact-form input[type=submit] {
  display: block;
  width: 200px;
  margin: 40px auto 0;
  padding: 15px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 5px;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
}

.contact-form input[type=submit]:hover {
  background-color: rgba(255, 255, 255, 0.05);
}

@media (max-width: 768px) {
  .site-title-sub::before,
  .site-title-sub::after {
    display: block;
    width: 80%;
    margin: 10px auto;
  }

  .site-title-sub {
    font-size: 1.7rem;
  }

  .site-title {
    margin-top: 35px;
    font-size: 3rem;
  }
}
