<div class="article-card-wrapper">
  <div class="article-row" *ngFor="let articleRow of articleRows">
    <div class="article-card-box" *ngFor="let article of articleRow">
      <p class="article-title">{{article.title}}</p>
      <p class="article-element">
        <a href="#" class="article-category">{{article.category}}</a>
        <span>{{article.created_at | date:"yyyy/MM/dd HH:mm" : '+0000'}}</span>
      </p>
      <div class="article-image-div">
        <img class="article-image" src="{{article.thumbnail_url}}" onerror="this.src='../../../../assets/images/coding.jpg'" alt={{article.title}}>
        <a [routerLink]="['/article', article.id]" class="button button-ghost">READ MORE</a>
      </div>
    </div>
  </div>
</div>
