<div class="article-card-wrapper">
  <div class="article-row" *ngFor="let articleRow of articleRows">
    <div class="article-card-box" *ngFor="let article of articleRow">
      <div class="article-card">
        <div class="article-image" [ngStyle]="{'background': 'url(' + article.thumbnail_url + ') center no-repeat'}"></div>
        <ul class="article-details">
          <li class="article-date">{{article.created_at | date:"yyyy/MM/dd HH:mm" : '+0000'}}</li>
          <li class="article-tags">
            <ul>
              <li>
                <a [routerLink]="['/search']" [queryParams]="{ category_id: article.category_id }">
                  {{article.category}}
                </a>
              </li>
            </ul>
          </li>
        </ul>
        <div class="article-description">
          <p>{{article.title}}</p>
          <a [routerLink]="['/article', article.id]">READ MORE</a>
        </div>
      </div>
    </div>
  </div>
</div>
