.adsense {
  background-image: none;
}

.temp-adsense {
  display: inline-block;
  margin: 35px;
  width: 250px;
  height: 250px;
  background-color: red;
}

.temp-sp-adsense {
  margin: auto;
  width: 320px;
  height: 100px;
  background-color: red;
}
