<div *ngIf="articleLoaded; else loading">
  <div class='article-body' id='main'>
    <h2 class='title'>{{article.title}}</h2>
    <div>
      <div *ngIf="loginState" class='button-list'>
        <button class='button button-showy' routerLink="/article/{{article.id}}/edit">編集</button>
        <button class='button button-danger' (click)="changePublishStatus(article.id)">
          {{article.published ? '非公開にする' : '公開する' }}
        </button>
        <button class='button button-showy' (click)="tweetArticle()" [class.disabled]="isDisabled"
          [disabled]="isDisabled">
          Tweet
        </button>
        <button class='button button-danger' (click)="destoryArticle()">
          削除する
        </button>
      </div>
      <div class='article-element'>
        <span>投稿日時: <time [dateTime]="article.created_at">{{article.created_at | date:"yyyy/MM/dd HH:mm" : '+0900'}}</time></span>
      </div>
      <div class='article-element category' *ngIf="article.category">
        <span>{{article.category}}</span>
      </div>
      <div class='content'>
        <markdown [data]='article.html_content'></markdown>
      </div>
    </div>
    <div class="other-articles">
      <div class="prev-next-link">
        <a class="prev-link" *ngIf="article.previous_id" routerLink="/article/{{article.previous_id}}">
          <p class="prev-next-label">前の記事</p>
          <p>{{article.previous_title}}</p>
        </a>
        <a class="next-link" *ngIf="article.next_id" routerLink="/article/{{article.next_id}}">
          <p class="prev-next-label">次の記事</p>
          <p>{{article.next_title}}</p>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="ads">
  <div class="ad">
    <div id="imobile_ad_native_51735820200303160250"></div>
  </div>
  <div class="ad">
    <div id="imobile_ad_native_51735820200303160611"></div>
  </div>
  <div class="ad">
    <div id="imobile_ad_native_51735820200304112111"></div>
  </div>
  <div class="ad">
    <div id="imobile_ad_native_51735820200304112123"></div>
  </div>
</div>
<div class="ad sp-top-ad">
  <div id="imobile_ad_native_51735920200303160730"></div>
</div>
<div *ngIf="articleLoaded; else loading">
  <app-comment [articleId]="article.id" [comments]="article.comments">
  </app-comment>
</div>
<ng-template #loading>
  <div class='loading'></div>
</ng-template>
