<section class="comment">
  <h2 class="heading">Comments</h2>
  <div class='commented-div' *ngFor="let comment of comments">
    <div class="commented-name-and-date">
      <span class="commented-name">{{comment.name}}</span>
      <span>{{comment.created_at | date:"yyyy/MM/dd HH:mm" : '+0900'}}</span>
    </div>
    <span class="commmented-content">{{comment.content}}</span>
    <button *ngIf="loginState" (click)="deleteComment(comment.id)" class='button delete-button button-danger'>削除</button>
  </div>
  <div *ngIf="!sendSuccess && readyCommentForm; else contactDone">
    <form class="comment-form" [formGroup]="form" (ngSubmit)="onSubmit()">
      <input type="text"  formControlName="name" required placeholder="NAME">
      <textarea formControlName="content" required placeholder="CONTENT"></textarea>
      <input type="submit" value="SEND" [class.disabled]="isDisabled" [disabled]="isDisabled">
    </form>
  </div>
  <ng-template #contactDone>
    <div class='commented-div'>
      <h4>コメントを送信しました。</h4>
    </div>
  </ng-template>
</section>
