.comment {
  padding: 30px 0 150px;
  width: 85%;
  margin: auto;
  text-align: left;
}

.commented-div {
  padding: 30px;
  margin-bottom: 30px;
}

.commented-name-and-date {
  margin-bottom: 5px;
}

.commented-name {
  margin-right: 15px;
}

.commmented-content {
  letter-spacing: 1px;
  line-height: 1.4;
}

.delete-button {
  margin-left: 20px;
  width: 70px;
  height: 25px;
  padding: 5px;
}

.comment-form {
  width: 60%;
  padding: 30px;
  margin-top: 60px;
}

.comment-form input[type='text'],
.comment-form textarea {
  width: 100%;
  margin-bottom: 10px;
  padding: 15px;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 0;
  background-color: rgba(255, 255, 255, 0.05);
  color: #fff;
}

.comment-form input[type='text'] {
  width: 49%;
}

.comment-form input[type='text'] {
  margin-right: 2%;
}

.comment-form textarea {
  display: block;
}

.comment-form input[type='text']:focus,
.comment-form textarea:focus {
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.5) inset;
}

.comment-form textarea {
  height: 150px;
}

.comment-form input[type='submit'] {
  display: block;
  width: 200px;
  margin: 40px auto 0;
  padding: 15px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 5px;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
}

.comment-form input[type='submit']:hover {
  background-color: rgba(255, 255, 255, 0.05);
}

@media (max-width: 768px) {
  .comment-form {
    width: 100%;
  }

  .comment {
    padding-bottom: 80px;
  }
}
