<div class='create-article-body'>
  <h2 class='heading'>{{this.articleId ? '編集' : '新規投稿'}}</h2>
  <form [formGroup]="form" enctype="multipart/form-data" (ngSubmit)="onSubmit()" *ngIf="articleLoaded">
    <input class='article-item' placeholder="TITLE" type="text" formControlName="title">
    <div *ngIf="formErrors['title']" class="form-errors">
      {{ formErrors['title'].join(" ") }}
    </div>
    <div class='article-item'>
      <angular-markdown-editor textareaId="editor1" rows="30" name="markdownText"
        formControlName="mark_content" [options]="editorOptions">
      </angular-markdown-editor>
    </div>
    <div *ngIf="formErrors['mark_content']" class="form-errors">
      {{ formErrors['mark_content'].join(" ") }}
    </div>
    <textarea placeholder='DESCRIPTION' class='article-item' rows=5 formControlName="description"></textarea>
    <div *ngIf="formErrors['description']" class="form-errors">
      {{ formErrors['description'].join(" ") }}
    </div>
    <app-file-uploader (uploadFinished)="onUploadFinished($event)"></app-file-uploader>
    <select class='article-item category' formControlName="category_id" *ngIf="categoryLoaded">
      <option [ngValue]="null">カテゴリを選択</option>
      <option *ngFor="let category of categories" [ngValue]="category.id">
        {{category.name}}
      </option>
    </select>
    <div *ngIf="formErrors['category_id']" class="form-errors">
      {{ formErrors['category_id'].join(" ") }}
    </div>
    <button class='create-btn fa click-util' type="submit">
      <i class="fa fa-sign-in" aria-hidden="true"></i>投稿
    </button>
  </form>
  <p *ngIf="gotError" class='form-errors'>エラーが発生しました。</p>
</div>
